

    #bg {
        position: fixed;
        top: 0;
        left: 0;

        min-width: 100%;
        min-height: 100%;
    }


h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: brown;
}

p{
    font-family: Arial;
    color:brown;
    font-size:24px;
}

.navbar-brand
{
    font-family: sans-serif;
    font-size: 35px;
    color: white;

}

